* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chilanka", cursive, sans-serif;
}

ul {
    list-style: none;
}

.whiteboard {
    position: absolute;
}

.color-panel {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 60px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}