/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    /* disable mouse drag & select */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

ul {
    list-style: none;
}

body {
    background: #060c21;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-wrap {
    width: 100%;
    max-width: 1000px;
    background: transparent;
    /* border: 1px solid #fff; */
}

/* header */
/* header {
    width: 1080px;
    width: 100%;
    height: 45px;
    background: #eee;
} */

/* main */
main {
    /* width: 1080px; */
    width: 100%;
    height: 680px;
    background: #fff;
    display: flex;
}

.left {
    width: calc(25% - 16px);
    height: 100%;
    margin: 8px 8px 8px 8px;
    background: transparent;
}

.card {
    position: relative;
    /* border: 1px solid #fff; */
    width: 100%;
    /* 85*8 = total 680px */
    height: 85px;
    padding: 0 10px;
    /* background: #060c21; */
    background: rgba(6, 12, 33, 0.9);
    margin: 0 0 12px 0;
    display: flex;
    color: #fff;
}

/* .role {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.pic {
    /* width: 85px; */
    min-width: 85px;
    /* border: 1px solid #fff; */
    /* background: #ccc; */
}

.status {
    width: 100%;
    /* max-width: 60%; */
    display: flex;
    flex-direction: column;
}

.name {
    width: 100%;
    height: 50%;
    padding: 0 8px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
}

.score {
    width: 100%;
    height: 50%;
    padding: 0 8px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
}

.right {
    width: 75%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.frame {
    position: relative;
    /* this breaks cursor/canvas offset setting */
    width: calc(100% - 24px);
    height: calc(70% - 16px);
    margin: 8px 8px 8px 16px;
    /* border: 1px solid #fff; */
    background: #060c21;
    /* background: #eee; */
}

.barrier {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.whiteboard {
    position: absolute;
}

.info {
    position: absolute;
    width: 70%;
    height: 60%;
    left: 15%;
    top: 20%;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    z-index: 2;
}

.info-header {
    position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.start-h1::before {
    content: "遊戲開始";
}

.select-h1::before {
    content: "請選擇";
}

.wait-h1::before {
    content: "等待中";
}

.skipped-h1::after {
    content: " 跳過這回合了";
}

.master-h1::before {
    content: "傑出的一手";
}

.answer-h1::before {
    content: "答案是: ";
}

.winner-h1::before {
    content: "冠軍是 ";
}

.info-panel {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    transition: 0.5s ease;
}

.info-btn {
    position: relative;
    top: 35%;
    width: 25%;
    height: 30%;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
}

.select-btn {
    position: relative;
    top: 35%;
    width: 25%;
    height: 30%;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
}

.info-btn,
.select-btn {
    cursor: pointer;
}

.next-one {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    text-align: center;
}

.topic-header {
    position: absolute;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    /* position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.topic-panel {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    /* transition: 0.5s ease; */
}

.timer-box {
    position: absolute;
    top: 95%;
    left: 5%;
    width: 90%;
    height: 2.5%;
    border-radius: 6px;
    box-shadow: inset 0 0 5px #fff;
    z-index: 1;
}

.countdown {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, #34ff19, #15f7ff);
    box-shadow: inset 0 0 5px #000;
    transition: background-image 1s ease;
}

/* timerbar animation */

@keyframes timebar {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.canvas-panel {
    position: absolute;
    width: 40px;
    height: 400px;
    border-radius: 12px;
    color: #fff;
    z-index: 2;
}

/* color section */
.palette {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin: 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.white {
    background: #fff;
}

.grey {
    background-color: #777;
}

.red {
    background-color: #ff4848;
}

.orange {
    background-color: #ff9f50;
}

.yellow {
    background-color: #fffc50;
}

.green {
    background-color: #5cff56;
}

.blue {
    background-color: #00e1ff;
}

.purple {
    background-color: #bc6aff;
}


.deactivated {
    display: none;
}

.chat {
    position: relative;
    width: calc(100% - 24px);
    height: calc(30% - 16px);
    margin: 8px 8px 8px 16px;
    /* background: #060c21; */
    background: rgba(6, 12, 33, 0.9);
    color: #fff;
    /* border: 1px solid #fff; */
}

#usagi {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0%;
    top: 0;
    /* border: 1px solid #fff; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../img/打鼓0_apng.png");
}

#usagi:hover {
    /* width: 120px;
    height: 120px;
    position: absolute;
    right: 0%;
    top: 0;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-size: 100%; */
    background-image: url("../img/打鼓_apng.png");
}

#messages {
    width: 100%;
    height: 85%;
    /* border: 1px solid #fff; */
    padding: 8px;
    overflow: auto;
}

#m {
    padding: 0 8px;
    box-shadow: inset 0 0 5px #fff;
}

form {
    display: flex;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

form input {
    width: 90%;
    height: 30px;
    background: none;
    /* border: 1px solid #fff; */
    color: #fff;
    pointer-events: auto;
}

form button {
    width: 10%;
    height: 30px;
    background: none;
    box-shadow: inset 0 0 5px #fff;
    /* border: 1px solid #fff; */
    color: #fff;
    pointer-events: auto;
    /* height: 15%; */
    /* border: none; */
}

/* footer */
footer {
    /* width: 1080px; */
    width: 100%;
    height: 45px;
    background: #eee;
}

/* skewed border */
.skewed-border-player::before {
    content: "";
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    left: -2.5px;
    transform: skew(5deg, 2deg);
    z-index: -1;
}

.skewed-border-player::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* so you can point element behind */
    pointer-events: none;
}

.skewed-border-player:nth-child(1)::before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.skewed-border-player:nth-child(2)::before {
    background: linear-gradient(315deg, #ff6600, #d4b400);
}

.skewed-border-player:nth-child(3)::before {
    background: linear-gradient(315deg, #67ff20, #02ff63);
}

.skewed-border-player:nth-child(4)::before {
    background: linear-gradient(315deg, #0077ff, #2c07ff);
}

.skewed-border-player:nth-child(5)::before {
    background: linear-gradient(315deg, #6200ff, #d607ff);
}

.skewed-border-player:nth-child(6)::before {
    background: linear-gradient(315deg, #ff13ff, #ff0766);
}

.skewed-border-player:nth-child(7)::before {
    background: linear-gradient(315deg, #adff16, #11ffcb);
}

.skewed-border-frame::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -3.5px;
    bottom: -4px;
    left: -4px;
    transform: skew(-1deg, -1deg);
    z-index: -1;
}

.skewed-border-frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* so you can point element behind */
    pointer-events: none;
}

.skewed-border-frame::before {
    background: linear-gradient(45deg, #ff8800, #ff0000);
}

.skewed-border-chat::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -1.5px;
    bottom: -2px;
    left: -1.5px;
    transform: skew(-1deg, -1deg);
    z-index: -1;
}

.skewed-border-chat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* so you can point element behind */
    pointer-events: none;
}

.skewed-border-chat::before {
    background: linear-gradient(45deg, #0b9bfc, #d9ff00);
}